<h3>Listado</h3>
<ul>
    @for(personaje of personajes(); track personaje.id; let idx = $index){
        @if(personaje.poder > 500 ){
            <li>
                <span>{{idx + 1}} - {{personaje.nombre}}</span>
                <strong
                    [class.text-danger]="personaje.poder > 9000"
                    [class.text-primary]="personaje.poder < 9000">
                    ({{personaje.poder}})
                </strong>
            </li>
        }
        @else {
            <li><strong>personaje con poder menor a 500</strong></li>
        }                    
    }
</ul>